body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    width:90%;
    margin:5% auto;
}

fieldset {
    width:55%;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 40%;
    height:35px;
    font-family: Tahoma, sans-serif;
    font-size: 100%;
    font-weight: 900;
    background: #f4f4f4;
    margin-left:60%;
}

div {
    margin-top:40px;
}

.lessspace {
    margin-top:10px;
}

label, input, select {
    display:inline-block;
}
.inline {
    display:inline;
}

.alignright {
    margin-left:33%;
}

label {
    width:30%;
    text-align:right;
    margin-right:2%;
}
input.box, textarea {width:60%;}


h1, h2, h4 {
    font-family: 'Electrolize', sans-serif;
    font-weight: 900;
}

footer {
    position:fixed;
    bottom:10px;
    right:2%;
}

.vertalign * {
    vertical-align:middle;
}
.bottom {
    margin-bottom:30px;
}

@media screen and (min-width:768px) {
}

@media screen and (min-width:480px) and (max-width: 767px) {
    body{
        margin:2.5% auto;
    }
    fieldset {
        width:95%;
    }

    #color {
        height:40px;
        width:30%;
    }
}

@media screen and (max-width:479px) {
    body{
        margin:2.5% auto;
    }

    fieldset {
        width:95%;
    }

    label{
        width:100%;
        text-align: left;
        font-size: 125%;
    }
    input.box, textarea {
        width:100%;
    }
    input.box, #zip, #tel, input[type=date]{
        height:25px;
    }

    #color {
        height:40px;
        width:30%;
    }
    input[type=submit] {
        width:90%;
        margin-left:5%;
    }
}